<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvpavvw1u/image/upload/v1631278349/mason-kimbarovsky-X_d7m2r70bA-unsplash_xneysi.jpg);">
  <div class="container">
    <h1><strong>Movie Lists</strong></h1>
    <p>Create lists to add your favorite movies!</p>
    <%= link_to "ADD A NEW LIST", lists_new_path, class: 'btn btn-primary' %>
  </div>
</div>

<div>
  <h1>Movie Lists</h1>
</div>


<div>
  <ul class="fa-ul">
      <% @lists.each do |list| %>
        <li><span class="fa-li"><i class="fas fa-film"></i></span>
            <%= link_to list.name, list_path(list) %>
        </li>
      <%end%>
  </ul>
</div>
