<div>
  <h1>Movie Lists</h1>
  <%= cl_image_tag("https://res.cloudinary.com/dvpavvw1u/image/upload/v1631262997/ma53yurecje5jw0p8vf9.jpg",
      width: 400, height: 300, crop: :fill) %>
      <%= cl_image_tag("https://res.cloudinary.com/dvpavvw1u/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1631263055/vvtajc11mwvrfwkophac.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
</div>


<div>
  <ul class="fa-ul">
      <% @lists.each do |list| %>
        <li><span class="fa-li"><i class="fas fa-film"></i></span>
            <%= link_to list.name, list_path(list) %>
        </li>
      <%end%>
  </ul>
</div>

<div>
  <%= link_to "ADD A NEW LIST", lists_new_path, class: 'btn btn-primary' %>
</div>
