<div>
  <h1>Movie Lists</h1>
</div>

<div>
  <ul class="fa-ul">
      <% @lists.each do |list| %>
        <li><span class="fa-li"><i class="fas fa-film"></i></span>
            <%= link_to list.name, list_path(list) %>
        </li>
      <%end%>
  </ul>
</div>

<div>
  <%= link_to "ADD A NEW LIST", lists_new_path, class: 'btn btn-primary' %>
</div>
